

	:root
	{
	font-family: Arial, sans-serif;
	font-size: larger;
	color: black;
	}
header
{
text-align: center;
color:#f44336;
border:4px;
border-style:dashed;
padding: 5px;
background-color: white;
}

body
{
    font-family: 'Lucida Sans';
    background-image: url("imagenes/fondo.png");
    padding: 20px;
}
nav ul
{
    text-align: center;
    list-style-type: none;
}
nav li
{
    display: inline;
    margin:15px;
    padding: 10px;
    background-color: #ff9800;
    color: white;
    border-style: solid;
    border: 2px;
    border-color: #f44336;
}
article:nth-of-type(even) 
{
    text-align: right;
}
article:nth-of-type(even) h2
{
    background-color: #ffc107;
    padding: 5px;
    color: white;
}
article:nth-of-type(odd) h2
{
    background-color: red;
    padding: 5px;
    color: white;
}
p{
    font-size:20px;
    font-weight: bold;
}
aside ul
{
    list-style-type: square;
    font-style: italic;
}
aside li:nth-of-type(1)
{
    color: blue;
    font-size: 24px;
}
aside li:nth-of-type(2)
{
    color: red;
    font-size: 20px;
}
aside li:nth-of-type(3)
{
    color: green;
}
footer h1
{
    text-align: center;
    font-size: 20px;
    text-decoration: overline;
}


